img {
  width: 250px;
  height: 200px;
 padding:2px;
 border:2px solid #C6523A;
 background-color: #C6523A;
}
.clickable {
  cursor: pointer;
  color: white;
}

.clickable: hover {
  text-decoration: underline;
}

.initiallyHidden {
  display: none;
}

.jumbotron {
  background-image: url(../img/logo.jpg);
  background-repeat: no-repeat;
  height: 300px;
  width: 1500px;
  background-color: #C6523A;
}
body {
  background-color: #4B88A8;
}
